{% extends 'base.html.twig' %}

{% block body %}

    <main>
        <section class="content">
            <div class="container">
                <h3>Recherche</h3>

                <div class="divider"></div>
                <br>
            </div>
        </section>
    </main>

{% endblock %}
